<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="utf-8">

  <title>Books management</title>

  <!-- Bootstrap CSS -->
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="/resources/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="/resources/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/resources/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="/resources/css/style.css" rel="stylesheet">
  <link href="/resources/css/style-responsive.css" rel="stylesheet" />
<style>
.modal{
    z-index:10;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    padding-top: 60px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
 }
 .modal-content {
    background-color: #fefefe;
    margin: auto auto  auto 30%;
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
    
}
.hidden {
   display:none;
}
</style>


</head>

<body>
<input id="checkAdmin" type="hidden" sec:authorize="hasAnyRole('ROLE_ADMIN')" value="isAdmin"/>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="/" class="logo">Books <span class="lite"> Management</span></a>
      <!--logo end-->

      <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
          <li>
            <form class="navbar-form">
              <input class="form-control" placeholder="Search" type="text">
            </form>
          </li>
        </ul>
        <!--  search form end -->
      </div>

      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
		  <li id="task_notificatoin_bar" class="dropdown" sec:authorize="isAnonymous()">
            <a class="" href="#"><i class="icon_pencil-edit"></i> Sign up
            </a>
          </li>
          <li id="task_notificatoin_bar" class="dropdown" sec:authorize="isAnonymous()">
            <a href="/show-login"><i class="icon_lock_alt" ></i> Sign in
            </a>
          </li>
          <!-- user login dropdown start-->
          <li class="dropdown" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/resources/img/avatar1_small.jpg">
                            </span>
                            <span sec:authentication="name" class="username"></span>
                            <b class="caret"></b>
                        </a>
            <ul class="dropdown-menu extended logout">
              <!-- <div class="log-arrow-up"></div> -->
               <li class="eborder-top">
                <a href="#"><i class="icon_profile"></i>MY PROFILE</a>
              </li>
              <li>
                <a href="#"><i class="icon_key_alt"></i>CHANGE PASSWORD</a>
              </li>
              <li>
                <a href="/logout"><i class="icon_lock-open_alt"></i>Log Out</a>
              </li>
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
   <aside sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" >
          <li class="" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <a class="" href="/admin/allUser">
                          <i class="fa fa-users"></i>
                          <span>Users</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_documents_alt"></i>
                          <span>Book</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/myBook">My Book</a></li>
              <li><a class="" href="/"><span>All Book</span></a></li>
            </ul>
          </li>
          
          <li class="">
            <a class="" href="/comment">
                          <i class="icon_comment_alt"></i>
                          <span>Comment</span>
            </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
       <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-book"></i>MyBooks management</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/">Home</a></li>
              <li><i class="fa fa-book"></i>My book</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <div style="margin-left: 10px" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
               <br>
             	 <a class="btn btn-primary" href="javascript:void(0)" onclick="document.getElementById('viewFormAddBook').style.display='block'"><i class="icon_plus_alt2"></i> ADD NEW BOOK</a>   
				<br>
			</div>
			<br>
             <div id="msgResult" style="margin-left: 10px;color: blue; font-size: 20px; font-weight: bold;"></div><br>
              <div id="result">
              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><i class=""></i>Title</th>
                    <th><i class=""></i>Author</th>
                    <th><i class=""></i>Date created</th>
                    <th><i class=""></i>Date updated</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN')"><i class=""></i>Enable</th>
                    <th><i class="" ></i> Action</th>
                  </tr>
                  <tr th:each="listBook : ${listBook}">
                    <td th:text="${listBook.title}">..</td>
                    <td th:utext="${listBook.author}"></td>
                    <td th:utext="${listBook.createdAt}"></td>
                    <td th:utext="${listBook.updatedAt}"></td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    	<input type="checkbox" th:checked="${listBook.enabled == 1}" th:onclick="'changeStatusBook('+${listBook.idBook}+','+${listBook.enabled}+')'">          
                    </td>
                    <td>
                      <div class="btn-group">
                      	<a class="btn btn-warning" th:href="@{'/detailBook/' + ${listBook.idBook}}" title="Detail!"><i class="icon_camera_alt"></i></a>
                        <a sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="btn btn-success" th:onclick="'showEditBook(\''+${listBook.idBook}+'\')'" href="#" title="Edit!"><i class="icon_pencil-edit"></i></a>    
                      	<a sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="btn btn-danger" th:onclick="' deleteBook(\''+${listBook.idBook}+'\')'" href="#" title="Delete!"><i class="icon_close_alt2"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
  </section>
  
  <div id="viewFormAddBook" class="modal text-center" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
           <form class="modal-content animate" id="formAddBook"  name="formAddBook">
           <div class="">
						<button type="button" class="close" onclick="document.getElementById('viewFormAddBook').style.display='none'" >&times;</button>
			</div> 
           <br><h3>ADD NEW BOOK</h3><br>
        <table style=" width:100%"  class="">
        <tr>
          <td><label ><b>Title<span style="color: red">(*)</span></b></label></td>
          <td><input autofocus type="text" name="title" id="title" class="form-control" autocomplete="title"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Author<span style="color: red">(*)</span></b></label></td>
          <td><input type="text" name="author" id="author" class="form-control" autocomplete="author"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Description</b></label></td>
          <td>
          	<textarea style="margin: 0px; height: 200px;" name="description" cols="30" id="description" class="form-control"></textarea>
          </td>    
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td></td>
          <td>
            <input type="submit" value="ADD BOOK" class="btn btn-primary">
            <input type="button" value="CANCEL" class="btn btn-danger"
              onclick="document.getElementById('viewFormAddBook').style.display='none'">
            
          </td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
        </table>
       </form>
    </div>
    
     <div id="viewFormEditBook" class="modal text-center" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
           <form class="modal-content animate" id="formEditBook"  name="formEditBook">
           <div class="">
						<button type="button" class="close" onclick="document.getElementById('viewFormEditBook').style.display='none'" >&times;</button>
			</div> 
           <br><h3>EDIT BOOK</h3><br>
        <table style=" width:100%"  class="">
         <tr>
          <td><input type="hidden" id="idBookEdit" name="idBookEdit" autocomplete="idBookEdit"></td>
          <td><br></td>
         </tr>
         <tr>
          <td><input type="hidden" id="idUserBookEdit" name="idUserBookEdit" autocomplete="idUserBookEdit"></td>
          <td><br></td>
         </tr>
        <tr>
          <td><label ><b>Title<span style="color: red">(*)</span></b></label></td>
          <td><input autofocus type="text" name="titleEdit" id="titleEdit" class="form-control" autocomplete="titleEdit"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Author<span style="color: red">(*)</span></b></label></td>
          <td><input type="text" name="authorEdit" id="authorEdit" class="form-control" autocomplete="authorEdit"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Description</b></label></td>
          <td>
          	<textarea style="margin: 0px; height: 200px;" name="descriptionEdit" cols="30" id="descriptionEdit" class="form-control"></textarea>
          </td>    
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td></td>
          <td>
            <input type="submit" value="UPDATE" class="btn btn-primary">
            <input type="button" value="CANCEL" class="btn btn-danger"
              onclick="document.getElementById('viewFormEditBook').style.display='none'">
            
          </td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
        </table>
       </form>
    </div>
  
  <!-- container section end -->
  <!-- javascripts -->
  <script src="/resources/js/jquery.js"></script>
  <script src="/resources/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="/resources/js/bootstrap.min.js"></script>
  <!-- nicescroll -->
  <script src="/resources/js/jquery.scrollTo.min.js"></script>
  <script src="/resources/js/jquery.nicescroll.js" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="/resources/js/scripts.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> -->
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script src="/resources/js/validate.js" type="text/javascript"></script>
  <script src="/resources/js/MyJSonAjax.js" type="text/javascript"></script> 
</body>

</html>
